ul {
  list-style-type: none;
  margin:-8px;
  padding:0;
  overflow: hidden;
  opacity: 1;
}

li {
float:left;
padding:13px;

}
li a{
	  display: inline;
  padding: 10px;
  text-decoration:none;
  color:black;
}

body {
  background-image: url('ocean.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

div.text{
 border-radius: 25px;
  border: 5px solid #000000;
width:500px;
float:left;

}
div.text1{
 border-radius: 25px;
  border: 5px solid #000000;
width:600px;
float:right;
}
div.text2{
	border-radius: 25px;
  border: 5px solid #000000;
width:600px;
}
.textall{
}

div.nav{
  position: left;
  overflow: hidden;
  border: 5px solid #000000;
  border-radius: 25px;
  width:350px;
  height:30px;
}
p{
font-size:20px;
}
