body{
  background-image: url('../images/ocean.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
ul {
  list-style-type: none;
  margin:-8px;
  padding:0;
  overflow: hidden;
  opacity: 1;
}
li {
float:left;
padding:13px;
}
li a{
	  display: inline;
  padding: 10px;
  text-decoration:none;
  color:black;
}
li a:hover{
	background-color:#00ffcc;
}

.nav{
  position: left;
  overflow: hidden;
  border: 5px solid #000000;
  border-radius: 25px;
  width:275px;
  height:30px;
}

.WWF{
	text-align:center;
}
.text{
	font-size:20px;
	text-align:center;
}
.head{
	
}	
.img{
	width:1200px;
	height:150px;
	text-align: center;
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img1{
	width:1200px;
	height:150px;
	text-align: center;
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.text1{
	font-size:20px;
	text-align:center;
}
.img2{
	width:1200px;
	height:150px;
	text-align: center;
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.text0{
	font-size:20px;
	text-align:center;
}
.text2{
	font-size:20px;
	text-align:center;
}
.button{
	text-align:center;
  background-color: #0066ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
