body{
  background-image: url('ocean.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
ul {
  list-style-type: none;
  margin:-8px;
  padding:0;
  overflow: hidden;
  opacity: 1;
}
li {
float:left;
padding:13px;
}
li a{
	  display: inline;
  padding: 10px;
  text-decoration:none;
  color:black;
}
.nav{
  position: left;
  overflow: hidden;
  border: 5px solid #000000;
  border-radius: 25px;
  width:350px;
}
.nav1{
  position: relative;
  overflow: hidden;
  border: 5px solid #000000;
  border-radius: 25px;
  width:350px;
}
.nav2{
  position: relative;
  overflow: hidden;
  border: 5px solid #000000;
  border-radius: 25px;
  width:350px;
}
.nav3{
  position: relative;
  overflow: hidden;
  border: 5px solid #000000;
  border-radius: 25px;
  width:350px;
}
.WWF{
	
}
.text{
	font-size:20px;
	text-align:center;
}
.head{
	
}
.img{
	width:1200px;
	height:150px;
	text-align: center;
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img1{
	width:1200px;
	height:150px;
	text-align: center;
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.text1{
	font-size:20px;
	text-align:center;
}
.img2{
	width:1200px;
	height:150px;
	text-align: center;
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.text2{
	font-size:20px;
	text-align:center;
}
